@model Filmek.Models.Movie
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>@Model.Title</h1>
    <p>Comments (@Model.Comments.Count())</p>
    <p>@foreach(var comm in Model.Comments)
        {
            <p>@comm.Content</p>
        }
    </p>
    <p>@Model.Length perc</p>
    <h2>@foreach (var c in Model.MovieCategories)
        {
            <p>@c.Category.Name</p>
        }
    </h2>

    <img src="@Model.Picture" alt="Should be a picture" />
}
